* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

input {
  height: 40px;
  width: 250px;
  padding-inline: 20px;
}
