* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  padding-block: 50px;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.meal-container {
  transition: scale 0.5s;
  padding: 10px;
  border-radius: 15px;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 5px 5px 15px #cdcccc;
  cursor: pointer;
}

.meal-container:hover {
  scale: 1.1;
}
.meal-container h3 {
  font-size: 1rem;
  font-weight: 600;
}

.thumbnail {
  width: 100%;

  object-fit: fill;
  border-radius: 10px;
}
